{% extends 'dashboard.html' %}
{% load static %}
{% block content %}


      <div class="jumbotron" align='center'>
        <h1 style="color:#0f4c81" style="text-decoration: underline; "><b>Heart Donation</b></h1><p></p>
        <img style="width: 150px;height:150px" src="{% static 'donar/images/H.jpg'%}" alt=""><p></p>
        <p style="padding-left: 20%;padding-right: 20%"><b>A heart transplant is a surgical procedure in which a failing, diseased heart is replaced with a healthier donor heart. Currently, 4,000 people in the United States are on the national transplant waiting list for a donor heart. What are the basics of heart donation? Read below for more information.</b></p><b></b>
        <input type="button" name="" class=" btn btn-warning" style="font-size: 20px;border-radius: 10px" value="Register to be a Donor">
      </div>

      <div class="container" align='center'style="padding-left: 15%;padding-right: 15%" >
        <h2 style="color:#0f814c"><b>When is a heart donation needed?</b></h2>
        <p style="color:white">Heart transplants are performed when there are no other treatments available for an individual in heart failure. According to the American Heart Association, “heart failure” is a term used to describe a heart that cannot keep up with its workload. The body may not get the oxygen it needs. Heart failure in adults can be caused by coronary artery disease (CAD); a weakening of the heart muscle (cardiomyopathy); valvular heart disease; a problem present at birth (congenital heart defect); or the failure of a previous transplant. In children, heart failure is most often the result of a congenital heart defect or cardiomyopathy.</p>
        <h1></h1>
        <h2 style="color:#0f814c"><b>How does the heart transplant waiting list work?</b> </h2>
        <p style="color:white">A heart transplant requires a heart donation from an individual who is declared brain dead and on a ventilator. Most transplant candidates wait for some length of time because there are more people in need of a transplant than there are deceased donors. Transplant candidates are placed on the national transplant waiting list. Unlike many waiting lists, the national transplant waiting list does not work on a first-come, first-served basis. When a donor heart becomes available, transplant candidates are matched based on three factors: medical urgency, distance from the donor hospital and pediatric status. Blood type, body size and other medical information are key factors in the matching process for all organs. United Network for Organ Sharing (UNOS) manages the national transplant waiting list, matching donors to recipients 24 hours a day, 365 days a year.</p>
        <h1></h1>
        <h2 style="color:#0f814c"><b>How can my donor heart help?</b> </h2>
        <p style="color:white">Heart transplants are lifesaving and lifegiving. Donors give years of life to heart recipients and their families. According to the National Heart, Lung, and Blood Institute, there is an 85% survival rate at one year post-surgery. To protect the health of the donor heart, transplant recipients take medications after transplant. The medications help reduce the risk of complications after transplant.</p>
      </div>



      <!-- <div class="container" id="org" style=" border-radius: 50px;border: 5px solid black; background-color: #baf1a1;text-align: center; padding:3%">
      <h1 style="color:#0f4c81">Organs and Tissues for Transplant</h1><br> <h1></h1> -->

      <!-- <div class="row" >
        <div class="col-md-2 " style=" display: block;margin-left: auto;  width: auto;height: auto"><a href="/heart"><img src="http://localhost:3000/images/H.jpg" class="img-thumbnail" ></a> </div>
        <div class="col-md-2 "style=" display: block;  width: auto;height: auto;" ><a href="/kidney"><img src="http://localhost:3000/images/KF.jpg" alt="" class="img-thumbnail"></a>  </div>
        <div class="col-md-2"style=" display: block; width: auto;height: auto"> <a href="/lungs"><img src="http://localhost:3000/images/LUNGS.jpg" alt="" class="img-thumbnail"></a>  </div>

        <div class="col-md-2 " style=" display: block;  width: auto; height: auto;margin-right:auto;"><a href="/liver"><img src="http://localhost:3000/images/LIV.jpg" class="img-thumbnail" ></a> </div>
      </div><p></p>
      <div class="row" >
        <div class="col-md-2 "style=" display: block;margin-left: auto;  width: auto;height: auto"><a href="/cornea"><img src="http://localhost:3000/images/C.jpg" alt="" class="img-thumbnail"> </a> </div>

      <div class="col-md-2" ><a href="/intestine"> <img src="http://localhost:3000/images/I.jpg" class="img-thumbnail" ></a></div>

      <div class="col-md-2" ><a href="/pancreas"> <img src="http://localhost:3000/images/P.jpg" alt="" class="img-thumbnail"> </a> </div>
      <div class="col-md-2"style=" display: block;margin-right:  auto;  width: auto;height: auto"><a href="/tissue"> <img src="http://localhost:3000/images/T.jpg" alt="" class="img-thumbnail"> </a></div>
    </div>
      </div> -->



{% endblock %}
