{% extends 'dashboard.html' %}
{% load static %}
{% block content %}


      <div class="jumbotron" align='center'>
        <h1 style="color:#0f4c81" style="text-decoration: underline; "><b>Kidney Donation</b></h1><p></p>
        <img style="width: 150px;height:150px" src="{% static 'donar/images/KF.jpg'%}" alt=""><p></p>
        <p style="padding-left: 20%;padding-right: 20%"><b>82%
                  of patients waiting are in need of a kidney.<br><br> 3 to 5 years
      is the average waiting time for a kidney from a deceased donor.<br><br> A kidney transplant is a surgical procedure to place a kidney from a living or deceased donor into a person whose kidneys no longer function properly. Currently, 100,000 people in the United States are on the national transplant waiting list for a donor kidney. So what are the basics of kidney donation? Read on for more information.   </b></p><b></b>
        <input type="button" name="" class=" btn btn-warning" style="font-size: 20px;border-radius: 10px" value="Register to be a Donor">
      </div>

      <div class="container" align='center'style="padding-left: 15%;padding-right: 15%" >
        <h2 style="color:#0f4c81"><b>When is a kidney donation needed?</b></h2>
        <p>A kidney transplant is used to treat kidney failure (also called end-stage renal disease, ESRD), a condition in which kidneys can function at only a fraction of their normal capacity. People with end-stage kidney disease need either dialysis or a kidney transplant to stay alive.<p></p>

        Causes of kidney failure may include diabetes, polycystic kidney disease (PKD), chronic uncontrolled high blood pressure (hypertension), or chronic glomerulonephritis (an inflammation and eventual scarring of the glomeruli — the tiny filters within your kidneys).</p>
                <h1></h1>
        <h2 style="color:#0f4c81"><b>What is dialysis?</b> </h2>
        <p>UNOS Transplant Living describes dialysis as a treatment that uses a filtering machine or a special fluid in your belly to filter waste out of your body. This is usually something kidneys do. It’s important to know that dialysis only filters out waste — it can’t replace other functions of your kidneys, such as making hormones. Dialysis only does 10-15% of the work that a healthy kidney would do. For some people, dialysis is the only option for treating kidney disease. For others, dialysis keeps them alive until a kidney is found for a transplant. The National Kidney Foundation states that each hemodialysis treatment usually lasts about four hours and is done three times per week. </p>
        <h1></h1>
        <h2 style="color:#0f4c81"><b>How does living donation work?</b> </h2>
        <p>Because a person can live with only one kidney, living donation offers another choice for some transplant candidates. The average waiting time for a donor kidney from a deceased donor is 3 to 5 years. A kidney from a living donor offers patients an alternative to years of dialysis and time on the national transplant waiting list. With living donation, a patient may be able to receive a transplant in 1 year or less. After donation, the living organ donor’s remaining kidney will enlarge, doing the work of 2 healthy kidneys.</p>
        <h1></h1>
        <h2 style="color:#0f4c81"><b>Who can be a living donor??</b> </h2>
        <p>Family members are often the most likely to be compatible living kidney donors, but many people undergo successful transplants with kidneys donated from people who are not related to them. Living donors will have a full medical exam, must be at least 18 years old, and in good physical and mental health. Different transplant centers have different limits on who can donate. The Kidney Transplant Learning Center offers resources on how to prepare to make the living donor ask and/or to have a family member or friend serve as a living donor champion.</p>
        <h1></h1>
        <h2 style="color:#0f4c81"><b>How can my donor kidney help?</b> </h2>
        <p>Every 10 minutes, another person is added to the national transplant waiting list — and 82% of patients waiting are in need of a kidney. On average, a living donor kidney can function anywhere between 12 to 20 years, and a deceased donor kidney can improve quality of life for 8 to 12 years. Plus, patients who receive preemptive kidney transplant see a number of benefits (especially for children and adolescents with end-stage kidney disease).<p></p>

        Per Mayo Clinic, other benefits include lower risk of rejection of the donor kidney, improved survival rates, improved quality of life, lower treatment costs, and avoiding the restrictions and complications of dialysis.<p></p>

        Kidney transplant recipients can expect to spend several days to a week in the hospital. Transplant recipients may take a number of medications after transplant, many for the rest of their lives. The medications help reduce the risk of complications after transplant.</p>
      </div>


      <!-- <div class="container" id="org" style=" border-radius: 50px;border: 5px solid black; background-color: #baf1a1;text-align: center; padding:3%">
      <h1 style="color:#0f4c81">Organs and Tissues for Transplant</h1><br> <h1></h1> -->

      <!-- <div class="row" >
        <div class="col-md-2 " style=" display: block;margin-left: auto;  width: auto;height: auto"><a href="/heart"><img src="http://localhost:3000/images/H.jpg" class="img-thumbnail" ></a> </div>
        <div class="col-md-2 "style=" display: block;  width: auto;height: auto;" ><a href="/kidney"><img src="http://localhost:3000/images/KF.jpg" alt="" class="img-thumbnail"></a>  </div>
        <div class="col-md-2"style=" display: block; width: auto;height: auto"> <a href="/lungs"><img src="http://localhost:3000/images/LUNGS.jpg" alt="" class="img-thumbnail"></a>  </div>

        <div class="col-md-2 " style=" display: block;  width: auto; height: auto;margin-right:auto;"><a href="/liver"><img src="http://localhost:3000/images/LIV.jpg" class="img-thumbnail" ></a> </div>
      </div><p></p>
      <div class="row" >
        <div class="col-md-2 "style=" display: block;margin-left: auto;  width: auto;height: auto"><a href="/cornea"><img src="http://localhost:3000/images/C.jpg" alt="" class="img-thumbnail"> </a> </div>

      <div class="col-md-2" ><a href="/intestine"> <img src="http://localhost:3000/images/I.jpg" class="img-thumbnail" ></a></div>

      <div class="col-md-2" ><a href="/pancreas"> <img src="http://localhost:3000/images/P.jpg" alt="" class="img-thumbnail"> </a> </div>
      <div class="col-md-2"style=" display: block;margin-right:  auto;  width: auto;height: auto"><a href="/tissue"> <img src="http://localhost:3000/images/T.jpg" alt="" class="img-thumbnail"> </a></div>
    </div>
      </div> -->


{% endblock %}
