{% extends 'dashboard.html' %}
{% load static %}
{% block content %}

      <div class="jumbotron" align='center'>
        <h1 style="color:#0f4c81" style="text-decoration: underline; "><b>Liver Donation</b></h1><p></p>
        <img style="width: 150px;height:150px" src="{% static 'donar/images/LIV.jpg'%}" alt=""><p></p>
        <p style="padding-left: 20%;padding-right: 20%"><b>A liver transplant is a surgical procedure to remove a diseased liver and replace it with a healthy liver from a donor. Most liver transplant operations use livers from deceased donors. In some cases, a part of a liver may be donated by a living donor. Currently, 14,000 people in the United States are on the national transplant waiting list for a donor liver. What are the basics of liver donation? Read below for more information.</b></p><b></b>
        <input type="button" name="" class=" btn btn-warning" style="font-size: 20px;border-radius: 10px" value="Register to be a Donor">
      </div>

      <div class="container" align='center'style="padding-left: 15%;padding-right: 15%" >
        <h2 style="color:#0f4c81"><b>When is a liver donation needed?</b></h2>
        <p>A liver transplant is an option for people who have end-stage liver failure that cannot be controlled using other treatments, or for some people with specific types of liver cancer. Liver failure can be categorized as acute liver failure (occurring rapidly, in a matter of weeks) or chronic liver failure (occurring slowly over months and years).<p></p>

        The principle causes of liver failure include viral infections such as Hepatitis C, cirrhosis of the liver,, early-stage liver cancer, hemochromatosis, primary biliary cirrhosis, primary sclerosing cholangitis, Wilson’s disease, alcoholic liver disease, nonalcoholic fatty liver disease, biliary duct atresia, and cystic fibrosis.</p>
        <h1></h1>
        <h2 style="color:#0f4c81"><b>Living Donor Liver Transplant</b> </h2>
        <p>A small percentage of liver transplants are completed each year using a portion of a healthy liver from a living donor. Living donation is possible because the liver is the only organ that can regenerate itself. An adult may be able to donate a portion of their liver to a child or another adult. The University of Pittsburgh Medical Center (UPMC) notes that adult-to-child living-donor liver transplants have helped diminish waiting list deaths, giving a second chance at life to children in need of transplant.<p></p>

        Since the number of patients waiting for a donor liver surpasses the number of deceased donors, living liver donation — much like living kidney donation — provides an alternative to waiting for a deceased donor organ to become available. Receiving a transplant sooner may help  a patient avoid additional health complications that may occur while waiting.<p></p>

        A living donor’s liver fully regrows within 4 months and will ultimately regain full function. The donated portion does the same for the recipient. A liver from a deceased donor may also be split and transplanted into 2 recipients.</p>
        <h1></h1>
        <h2 style="color:#0f4c81"><b>Liver transplantation</b> </h2>
        <p>Following a liver transplant, recipients may stay in the intensive care unit for a few days and spend 5-10 additional days in the hospital. Recovery time at home varies for each person, most recipients can resume simple activities of daily living within a week.</p>
      </div>



      <!-- <div class="container" id="org" style=" border-radius: 50px;border: 5px solid black; background-color: #baf1a1;text-align: center; padding:3%">
      <h1>Organs and Tissues for Transplant</h1><br> <h1></h1> -->

      <!-- <div class="row" >
        <div class="col-md-2 " style=" display: block;margin-left: auto;  width: auto;height: auto"><a href="/heart"><img src="http://localhost:3000/images/H.jpg" class="img-thumbnail" ></a> </div>
        <div class="col-md-2 "style=" display: block;  width: auto;height: auto;" ><a href="/kidney"><img src="http://localhost:3000/images/KF.jpg" alt="" class="img-thumbnail"></a>  </div>
        <div class="col-md-2"style=" display: block; width: auto;height: auto"> <a href="/lungs"><img src="http://localhost:3000/images/LUNGS.jpg" alt="" class="img-thumbnail"></a>  </div>

        <div class="col-md-2 " style=" display: block;  width: auto; height: auto;margin-right:auto;"><a href="/liver"><img src="http://localhost:3000/images/LIV.jpg" class="img-thumbnail" ></a> </div>
      </div><p></p>
      <div class="row" >
        <div class="col-md-2 "style=" display: block;margin-left: auto;  width: auto;height: auto"><a href="/cornea"><img src="http://localhost:3000/images/C.jpg" alt="" class="img-thumbnail"> </a> </div>

      <div class="col-md-2" ><a href="/intestine"> <img src="http://localhost:3000/images/I.jpg" class="img-thumbnail" ></a></div>

      <div class="col-md-2" ><a href="/pancreas"> <img src="http://localhost:3000/images/P.jpg" alt="" class="img-thumbnail"> </a> </div>
      <div class="col-md-2"style=" display: block;margin-right:  auto;  width: auto;height: auto"><a href="/tissue"> <img src="http://localhost:3000/images/T.jpg" alt="" class="img-thumbnail"> </a></div>
    </div>
      </div> -->






          <!-- BODY ORGANS ENDS -->

{% endblock %}
