{% extends 'dashboard.html' %}
{% load static %}
{% block content %}

      <div class="jumbotron" align='center'>
        <h1 style="color:#0f4c81" style="text-decoration: underline; "><b>Lung Donation</b></h1><p></p>
        <img style="width: 150px;height:150px" src="{% static 'donar/images/LUNGS.jpg'%}" alt=""><p></p>
        <p style="padding-left: 20%;padding-right: 20%"><b>A lung transplant is a surgical procedure to replace a diseased or failing lung with a healthy deceased donor lung. Depending on the medical condition, a lung transplant may involve replacing one or both lungs. Currently, 1,400 people in the United States are on the national transplant waiting list for a donor lung. What are the basics of lung donation? Read below for more information.</b></p><b></b>
        <input type="button" name="" class=" btn btn-warning" style="font-size: 20px;border-radius: 10px" value="Register to be a Donor">
      </div>

      <div class="container" align='center'style="padding-left: 15%;padding-right: 15%" >
        <h2 style="color:#0f4c81"><b>When is a lung donation needed?</b></h2>
        <p>Unhealthy or damaged lungs can make it difficult for the body to get the oxygen it needs to survive. Lung damage can often be treated with medication or with special breathing devices. If these measures no longer help or if the patient’s lung function becomes life-threatening, a lung transplant may be needed.<p></p>A variety of diseases and conditions can damage lungs and hinder their ability to function effectively, such as COPD (chronic obstructive pulmonary disease) including emphysema, scarring of the lungs known as pulmonary fibrosis, cystic fibrosis, sarcoidosis with advanced fibrosis, and pulmonary hypertension. </p>
        <h1></h1>
        <h2 style="color:#0f4c81"><b>How does the lung transplant waiting list work?</b> </h2>
        <p>Most transplant candidates wait for some length of time because there are more people in need of a transplant than there are deceased donors. Transplant candidates are placed on the national transplant waiting list. When a deceased donor lung becomes available, transplant candidates are matched based on three factors: medical urgency, distance from the donor hospital and pediatric status. Blood type, body size and other medical information are key factors in the matching process for all organs. United Network for Organ Sharing (UNOS) manages the national transplant waiting list, matching donors to recipients 24 hours a day, 365 days a year.<p></p>

        Transplant recipients may take a number of medications after transplant, many for the rest of their lives. The medications help reduce the risk of complications after transplant.<p></p>Patients must be ready at a moment’s notice to receive their new lung or lungs. Transplant must occur within a few hours after the deceased donor lung is recovered. Following surgery, many patients are discharged from the hospital after 1 to 3 weeks, and can return to work and other normal activity within 3 to 6 months. </p>
        <h1></h1>
        <h2 style="color:#0f4c81"><b>How can my donor lungs help?</b> </h2>
        <p>Lung transplants are lifesaving and lifegiving. Donors give years of life to lung recipients and time with loved ones to their families and communities.</p>
      </div>


      <!-- <div class="container" id="org" style=" border-radius: 50px;border: 5px solid black; background-color: #baf1a1;text-align: center; padding:3%">
      <h1 style="color:#0f4c81">Organs and Tissues for Transplant</h1><br> <h1></h1> -->

      <!-- <div class="row" >
        <div class="col-md-2 " style=" display: block;margin-left: auto;  width: auto;height: auto"><a href="/heart"><img src="http://localhost:3000/images/H.jpg" class="img-thumbnail" ></a> </div>
        <div class="col-md-2 "style=" display: block;  width: auto;height: auto;" ><a href="/kidney"><img src="http://localhost:3000/images/KF.jpg" alt="" class="img-thumbnail"></a>  </div>
        <div class="col-md-2"style=" display: block; width: auto;height: auto"> <a href="/lungs"><img src="http://localhost:3000/images/LUNGS.jpg" alt="" class="img-thumbnail"></a>  </div>

        <div class="col-md-2 " style=" display: block;  width: auto; height: auto;margin-right:auto;"><a href="/liver"><img src="http://localhost:3000/images/LIV.jpg" class="img-thumbnail" ></a> </div>
      </div><p></p>
      <div class="row" >
        <div class="col-md-2 "style=" display: block;margin-left: auto;  width: auto;height: auto"><a href="/cornea"><img src="http://localhost:3000/images/C.jpg" alt="" class="img-thumbnail"> </a> </div>

      <div class="col-md-2" ><a href="/intestine"> <img src="http://localhost:3000/images/I.jpg" class="img-thumbnail" ></a></div>

      <div class="col-md-2" ><a href="/pancreas"> <img src="http://localhost:3000/images/P.jpg" alt="" class="img-thumbnail"> </a> </div>
      <div class="col-md-2"style=" display: block;margin-right:  auto;  width: auto;height: auto"><a href="/tissue"> <img src="http://localhost:3000/images/T.jpg" alt="" class="img-thumbnail"> </a></div>
    </div>
      </div> -->

{% endblock %}

