{% extends 'dashboard.html' %}
{% load static %}
{% block content %}


      <div class="jumbotron" align='center'>
        <h1 style="color:#0f4c81" style="text-decoration: underline; "><b>Pancreas Donation: Everything you need to know</b></h1><p></p>
        <img style="width: 150px;height:150px" src="D:\ORGAN_DONOR\images\P.jpg" alt=""><p></p>
        <p style="padding-left: 20%;padding-right: 20%"><b>A pancreas donation is needed when the pancreas no longer functions properly. The pancreas sits just behind your stomach — it creates insulin to control your sugar levels and the amount of sugar in your blood, and releases the nutrients in your food that keep you healthy.</b></p><b></b>
        <input type="button" name="" class=" btn btn-warning" style="font-size: 20px;border-radius: 10px" value="Register to be a Donor">
      </div>

      <div class="container" align='center'style="padding-left: 15%;padding-right: 15%" >
        <h2 style="color:#0f4c81"><b>When is a pancreas donation needed?</b></h2>
        <p>A pancreas donation is needed when the pancreas no longer functions properly. The pancreas sits just behind your stomach — it creates insulin to control your sugar levels and the amount of sugar in your blood, and releases the nutrients in your food that keep you healthy. Nearly all pancreas transplants are done to treat type 1 diabetes, a condition for which a pancreas transplant offers a potential cure. In some cases, pancreas transplants may be performed to treat type 2 diabetes, or in the treatment of pancreatic, bile duct or other cancers</p>
        <h1></h1>
        <h2 style="color:#0f4c81"><b>What is the recovery process like for pancreas transplant recipients?</b> </h2>
        <p>The side effects of a pancreas transplant can be significant, so a pancreas transplant is typically reserved for those who have serious diabetes complications.

        Pancreas transplant patients may be in the intensive care unit for a few days and spend, on average, a week in the hospital. Transplant recipients may take a number of medications after transplant, many for the rest of their lives. The medications help reduce the risk of complications after transplant.

        </p>
        <h1></h1>
        <h2 style="color:#0f4c81"><b>How can my donated pancreas help?</b> </h2>
        <p>A donated pancreas can be lifesaving — it even offers a potential cure for those with Type 1 diabetes, and is performed when the patient is already experiencing extreme complications from their disease.</p>
      </div>


      <!-- <div class="container" id="org" style=" border-radius: 50px;border: 5px solid black; background-color: #baf1a1;text-align: center; padding:3%">
      <h1 style="color:#0f4c81">Organs and Tissues for Transplant</h1><br> <h1></h1>

      <div class="row" >
        <div class="col-md-2 " style=" display: block;margin-left: auto;  width: auto;height: auto"><a href="/heart"><img src="http://localhost:3000/images/H.jpg" class="img-thumbnail" ></a> </div>
        <div class="col-md-2 "style=" display: block;  width: auto;height: auto;" ><a href="/kidney"><img src="http://localhost:3000/images/KF.jpg" alt="" class="img-thumbnail"></a>  </div>
        <div class="col-md-2"style=" display: block; width: auto;height: auto"> <a href="/lungs"><img src="http://localhost:3000/images/LUNGS.jpg" alt="" class="img-thumbnail"></a>  </div>

        <div class="col-md-2 " style=" display: block;  width: auto; height: auto;margin-right:auto;"><a href="/liver"><img src="http://localhost:3000/images/LIV.jpg" class="img-thumbnail" ></a> </div>
      </div><p></p>
      <div class="row" >
        <div class="col-md-2 "style=" display: block;margin-left: auto;  width: auto;height: auto"><a href="/cornea"><img src="http://localhost:3000/images/C.jpg" alt="" class="img-thumbnail"> </a> </div>

      <div class="col-md-2" ><a href="/intestine"> <img src="http://localhost:3000/images/I.jpg" class="img-thumbnail" ></a></div>

      <div class="col-md-2" ><a href="/pancreas"> <img src="http://localhost:3000/images/P.jpg" alt="" class="img-thumbnail"> </a> </div>
      <div class="col-md-2"style=" display: block;margin-right:  auto;  width: auto;height: auto"><a href="/tissue"> <img src="http://localhost:3000/images/T.jpg" alt="" class="img-thumbnail"> </a></div>
    </div>
      </div> -->







      {% endblock %}
